@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Nerko+One&display=swap');

:root {
    --bg-color: #daf6d9;
    --light-orange: #FFF9BF;
    --orange: #F24E1E;
    --white: #fff;

    --game-width: 480px;
    --game-height: 640px;

    --bird-width: 32px;
    --bird-height: 24px;

    --pipe-widht: 52px;

    --fw-regular: 500;
    --fw-bold: 800;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
}

body {
    background-color: var(--bg-color);
    overflow: hidden;
    font-family: "Kode Mono", monospace;
}

.game {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game .container {
    width: var(--game-width);
    height: var(--game-height);
    overflow: hidden;
}

.game .container .game-board {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 297px;
    background-image: url("../flappy-bird-assets/sprites/background-day.png");
}

/* Game welcome */
.game .container .game-board .welcome {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
}

/* Game Over */
.game .container .game-board .game-over {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    z-index: 100;
}

.game .container .game-board .game-over .best-score {
    background-color: var(--light-orange);
    padding: 15px 25px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.game .container .game-board .game-over .best-score h3 {
    padding: 0;
    margin: 10px 0;
    color: var(--orange);
    font-weight: var(--fw-bold);
}

.game .container .game-board .game-over .best-score img {
    margin-left: -5px;
}

.game .container .game-board .game-over .best-score .current-score {
    margin-bottom: 20px;
}

.game .container .game-board .game-over .restart {
    margin-top: 25px;
}

.game .container .game-board .game-over .restart button {
    background-color: var(--orange);
    font-family: inherit;
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--white);
    padding: 10px 20px;
    border: 4px solid brown;
    border-bottom-width: 7px;
    box-shadow: inset 0 0px 0 5px var(--white);
    cursor: pointer;
}

/* score */
.game .container .game-board .score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0px;
    top: 35px;
    z-index: 10;
}

/* bird */
.game .container .game-board .bird {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--bird-width);
    height: var(--bird-height);
    z-index: 10;
    transition: 0.2s;
}

.game .container .game-board .bird  img {
    width: 100%;
    height: 100%;
}

/* Pipes */
.game .container .game-board .pipes {
    position: absolute;
    width: var(--pipe-widht);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    transform: translateX(var(--game-width));
    /* animation: movePipe 5s linear infinite; */
}
.game .container .game-board .pipes .upper-pipe,
.game .container .game-board .pipes .lower-pipe {
    width: 100%;
    height: 100%;
    background-image: url("../flappy-bird-assets/sprites/pipe-green.png");
}

.game .container .game-board .pipes .upper-pipe {
    transform: rotate(180deg);
    height: 102%;
}

.game .container .game-board .pipes .lower-pipe {
    flex-basis: 1;
}

/* ground */
.game .container .game-board .ground {
    position: absolute;
    bottom: 0;
    width: var(--game-width);
    height: 112px;
    background-image: url("../flappy-bird-assets/sprites/base.png");
    /* animation: move 5s linear infinite; */
    z-index: 5;
}

.game .container .game-board .ground::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 112px;
    transform: translateX(480px);
    background-image: url("../flappy-bird-assets/sprites/base.png");
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-480px);
    }
}

@keyframes movePipe {
    0% {
        transform: translateX(480px);
    }
    100% {
        transform: translateX(-52px);
    }
}