
:root {
    --bg-color: #daf6d9;

    --game-width: 480px;
    --game-height: 640px;

    --bird-width: 32px;
    --bird-height: 24px;

    --pipe-widht: 52px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    user-select: none;
    overflow: hidden;
}

.game {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game .container {
    width: var(--game-width);
    height: var(--game-height);
    overflow: hidden;
}

.game .container .game-board {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 297px;
    background-image: url("../flappy-bird-assets/sprites/background-day.png");
}

/* Game welcome */
.game .container .game-board .welcome {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
}

/* score */
.game .container .game-board .score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    top: 35px;
    z-index: 10;
}

/* bird */
.game .container .game-board .bird {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--bird-width);
    height: var(--bird-height);
    z-index: 10;
}

.game .container .game-board .bird  img {
    width: 100%;
    height: 100%;
}

/* Pipes */
.game .container .game-board .pipes {
    position: absolute;
    width: var(--pipe-widht);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    transform: translateX(var(--game-width));
    /* animation: movePipe 5s linear infinite; */
}
.game .container .game-board .pipes .upper-pipe,
.game .container .game-board .pipes .lower-pipe {
    width: 100%;
    height: 100%;
    background-image: url("../flappy-bird-assets/sprites/pipe-green.png");
}

.game .container .game-board .pipes .upper-pipe {
    transform: rotate(180deg);
    height: 102%;
}

.game .container .game-board .pipes .lower-pipe {
    flex-basis: 1;
}

/* ground */
.game .container .game-board .ground {
    position: absolute;
    bottom: 0;
    width: var(--game-width);
    height: 112px;
    background-image: url("../flappy-bird-assets/sprites/base.png");
    /* animation: move 5s linear infinite; */
    z-index: 5;
}

.game .container .game-board .ground::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 112px;
    transform: translateX(480px);
    background-image: url("../flappy-bird-assets/sprites/base.png");
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-480px);
    }
}

@keyframes movePipe {
    0% {
        transform: translateX(480px);
    }
    100% {
        transform: translateX(-52px);
    }
}